
/* https://leaverou.github.io/bubbly/ */
body {
	font-family: "Arial Black";
}

.container {
	padding-left: 40px;
	padding-right: 40px;
	margin: 2%;
}

.newMsgDiv {
	margin: 2%;
}

.speech-bubble-from {
	position: relative;
	background: #99a3b2;
	border-radius: .4em;
	padding: 3px;
	margin: 5px;
	margin-left: 50%;
	text-align: right;
}

	.speech-bubble-from:after {
		content: '';
		position: absolute;
		right: 0;
		top: 50%;
		width: 0;
		height: 0;
		border: 20px solid transparent;
		border-left-color: #99a3b2;
		border-right: 0;
		border-top: 0;
		margin-top: -10px;
		margin-right: -20px;
	}

.speech-bubble-to {
	position: relative;
	background: #ccf7d9;
	border-radius: .4em;
	padding: 3px;
	margin: 5px;
	margin-right: 50%;
	text-align: left;
}

.speech-bubble-to:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #ccf7d9;
	border-left: 0;
	border-top: 0;
	margin-top: -10px;
	margin-left: -20px;
}

small {
	font-size: small;
}