<script>
	// Initialize Firebase
	var config = {
	apiKey: "AIzaSyDElasmsjnmz5HIPEnjMWai5Mb2B41xBjw",
	authDomain: "githubio-71f2c.firebaseapp.com",
	databaseURL: "https://githubio-71f2c.firebaseio.com",
	projectId: "githubio-71f2c",
	storageBucket: "githubio-71f2c.appspot.com",
	messagingSenderId: "242545736767"
	};
	firebase.initializeApp(config);
</script>